
.mi-navbar-verde {
    background-color: #28a745; /* o el código que prefieras */
}
.mis-botones button {
        margin-right: 35px;
    }
.mis-botones button:last-child {
        margin-right: 50px;  /* el último sin margen */
    }

.mis-botones .nav-link {
    transition: opacity 1s; /* suaviza el efecto */
}

.mis-botones .nav-link:hover {
    opacity: 0.7; /* se vuelve semi-transparente */
}

footer img {
    height: 24px;
    width: 82px;
}

.mi-section-verde {
    background-color: #28a745; /* o el código que prefieras */
}
.mi-section-verde h2 {
    margin-bottom: 20px;
}

.mi-section-verde .form-control::placeholder {
  color: #707070; /* gris claro */
}

.mi-section-verde .form-control {
  color: #333; 
}

.mi-section-verde form {
  max-width: 400px;
  margin: 0 auto;
}

.card {
  width: 100%;
  max-width: 18rem;
  margin: 0 auto;
}

.card-body p.fw-light {
    color: #707070;
    margin-bottom: 0.25rem; /* o puedes usar 0 para pegarlos más */
}

.card-body .d-flex.gap-2 {
    margin-top: 0.25rem; /* reduce el margen superior del contenedor de dirección */
}